.product {
  .card {
    padding: 1rem;
    margin-top: 1rem;
  }
  .review {
    border-top: 1px solid #ccc;
  }
  .details {
    padding-top: 2rem;
    display: flex;

    .img {
      width: 45%;
      border: 1px solid #ccc;
      border-radius: 3px;
      img {
        width: 100%;
      }
    }

    .content {
      margin-left: 50px;
      width: 55%;
      padding: 0 5px;
      & > * {
        margin-bottom: 1rem;
      }
      .price {
        color: orangered;
        font-weight: 500;
      }

      .count {
        display: flex;
        align-items: center;
        & > * {
          margin-right: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .product {
    .details {
      flex-direction: column;

      .img {
        width: 100%;
      }

      .content {
        width: 100%;
      }
    }
  }
}










// Owner card contact detail

.pcard {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 1em;
  margin-bottom: 0.5em;
  padding: 0.2em 0;
  background-color: lightcyan;
  box-shadow: 2px 2px 2px 0px;
  max-width: 35rem;
}

.info {
  margin-left: 15px;
  width: 100%;
}
.name{
  font-weight: bold;
}
.name,
.company,
.title,
.email,
.message {
  margin: 0;
  font-size: 1rem;
  margin-bottom: 0.2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.name {
  font-size: 1rem;
}

.company {
  margin-bottom: 1em;
}

.company::after {
  content: "";
  display: block;
  width: 90%;
  height: 2px;
  background-color: wheat;
  transform: translateY(0.5em);
}
